<!-- <link href="/css/game.css" media="all" rel="stylesheet" type="text/css" />
<div class="content">
  <form method="post" action="/session" class="content">
    <input type="submit" value="Start Game" />
  </form>
</div> -->

<html lang="en">
  <head>
    <link href="/css/game.css" media="all" rel="stylesheet" type="text/css" />
  </head>
  <body>
    <div >
      <form method="post" action="/session" class="center">
        
        <input type="submit" value="Start Game" class="button"/>
      </form>
    </div>
  </body>
</html>
