<link href="/css/game.css" media="all" rel="stylesheet" type="text/css" />

<form method="post" action="/session" class="content">
  <h3>Enter a username</h3>
  <input type="text" name="name" />
  <input type="submit" value="Sign in" />
</form>
