#nextshape svg,
#board svg {
  background-color: #000;
  float: left;
}

#nextshape svg {
  margin-left: 28px;
}

#status {
  font-weight: bold;
  color: red;
}
:root {
  --feedback-primary-color: #2e2b2b;
}
.button {
  background-color: #4caf50; /* Green */
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}

body {
  font-family: "DM Sans", sans-serif;
  background-color: var(--feedback-primary-color);
}
.score {
  color: white;
}
.content {
  max-width: 500px;
  margin: auto;
}
.container {
  height: 200px;
  position: relative;
  border: 3px solid green;
}

.center {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
.session {
  max-width: 500px;
  margin-top: 350px;
  margin-left: 350px;
}
